@keyframes logoAnimation {
    0% {opacity: 100%;width:600px; height:600px}
    25%{opacity:100%; width: 700px; height:700px}
    100%{opacity: 0%; width:600px; height:600px}
}
@keyframes logoAnimation-mobile {
    0% {opacity: 100%;width:300px; height:300px}
    25%{opacity:100%; width: 350px; height:350px}
    100%{opacity: 0%; width:300px; height:300px}
}

@keyframes backgroundChange {
    from { background: none}
    to { background:#1b2f33;}
}
@keyframes changeVisibility {
    from {opacity:0%}
    to {opacity:100%}
}
@keyframes growBar{
    from{height:0}
    to {height:var(--my-finish-height)}
}

html {
    scroll-behavior: smooth;
  }

body {
    font-family:'Roboto', sans-serif;
}
.body-newcolor{
    animation:forwards;
    animation-name: backgroundChange;
    animation-duration:3s;
}
  .logo-background {
    left:0;
    position: absolute;
    right:0;
    top:0;
    bottom:0;
    z-index: 2;
    display: flex;
    align-items: center;
    flex-direction:column;
    justify-content: center;
}
    .logo--hidden{
        animation-name: logoAnimation-mobile;
        animation-duration: 2s;
        
    }
    .logo-image{
        width: 300px;
        height: 300px;
    }

    .closeLogo{
        width: 300px;
        padding : 10px 5px;
        border-radius:15px;
        border: 1px solid transparent;
        font-size: 18px;
        text-transform: uppercase;
        font-variant: small-caps;
        color: white;
        background: #002754;
        font-family: 'Roboto', sans-serif;        
    }

    #content{
        align-items: center;
        display: flex;
        flex-direction:column;
        opacity:0%;
        margin: 0;
        font-family: 'Roboto', sans-serif;
        color:#fff;transform: translateY(-120px)
    }
    .content--visible{
        animation-name: changeVisibility;
        animation-duration:3s;
    }

        .title{
            margin: 50px 0 ;
            text-align: center;
            
        }
        .button-start{
            color: #fff;
            background-color: #9EBC9F;
            border: 1px solid transparent;
            border-radius:5px;
            padding: 10px 30px;
            width:fit-content;
            text-transform: uppercase;
            font-size:1.3rem;
        }
        .game-section{
            animation-name: changeVisibility;
            animation-duration:1.5s;
            padding:30px 20px;
            margin: 50px 0;
            width: 80%;
            height: fit-content;
            background: #28502E;
            border-radius:50px;
            display:flex;
            flex-wrap: wrap;
            justify-content:flex-end;
            
        }
            .game-row{
                width:100%;
                display:flex;
                
            }
            .choice-buttons{
                align-self: flex-end;
                display:flex;
                align-items:center;
                justify-content: space-evenly;
            }
                .select-choice{
                    height:fit-content;
                    padding: 10px 15px;
                    background-color: #9EBC9F;
                    border: 2px solid transparent;
                    text-transform: capitalize;
                    font-size:18px;
                    color: #fff;
                    font-family: 'Roboto', sans-serif;
                    border-radius:50%;
                    font-weight: bold;
                    letter-spacing: 0.2rem;
                    text-align: center;
                }
                    img{ 
                        width: 40px;
                        height: 40px
                    }
            .score{
                animation-name: changeVisibility;
                animation-duration:1s;
                justify-content:center;
                align-self: flex-start;
            }
                .score-container{
                    justify-content:center;
                    align-items:center;
                    display: flex;
                    border-radius: 5px;
                    margin: 0 20px;
                    width:100px;
                    height:50px;
                    background: #F4F2F3;
                }

                .score-img{
                    filter:invert(1);
                    width:initial
                }

                    .score-container p {
                        font-size:30px;
                        color: black;
                    }
            
            .result-display{
                margin-top: 50px;
                animation-name: changeVisibility;
                animation-duration:1s;
                display: flex;
                align-self: center;
                align-items: center;
                justify-content: center;
            }
                .result-image{
                    min-width: 75px;
                    height:auto;
                    margin: 20px;
                    max-height:85.81px;
                    
                }

                .choice-animation{
                    animation-name: changeVisibility;
                    animation-duration: 1s;
                }

                
                .result-image--inverted{
                    filter:invert(1);
                }

                #result-phrase{
                    margin-top: 20px;
                    font-size: 50px;
                    letter-spacing: 0.2rem;
                    text-align: center;
                    width:100%;
                }
.hidden{
    display: none;
}
.invisible{
    opacity: 0%;
}

@media screen and (min-width: 768px) {
    .logo-background{
        transform: translateY(-50px)
    }
    .logo-background .logo--hidden{
        animation-name:logoAnimation;
        
    }
        .result-image{
            width:145px;
            height:126px;
            max-height: none;
            
        }

        .logo-image{
            width: 600px;
            height: 600px;
        }
        
        .closeLogo{
            width: 600px;
            font-size: 22px;
        }

        .closeLogo:hover{
            transition: 0.5s;
            border: 1px solid #002754;;
            background-color: #fff;
            color: #002754;
            cursor: pointer;
        }
        .button-start:hover{
            transition: 0.3s;
            border: 1px solid #28502E;
            background-color: #fff;
            color: #28502E

        }
        .select-choice:hover{
            cursor: pointer;
            background:#F4F2F3;
            border:2px solid black
        }
         button img{
            width: 60px;
            height: 60px
            
        }
    }